<div
  class="
    device_tag
    inline-flex
    items-center
    bg-cyan-400
    px-2
    py-1
    rounded-full
    cursor-grab
    hover:ring-4
    ring-cyan-500 ring-opacity-25
    mb-1
    ml-1
  "
>
  <span
    class="
      device_tag_close
      flex
      mr-2
      bg-cyan-700
      rounded-full
      items-center
      justify-center
      w-4
      h-4
    "
    ng-show="vm.showClose"
  >
    <i
      class="ph-x-bold flex text-white text-xs items-center justify-center"
    ></i>
  </span>
  <span class="device_tag_name">{{vm.data.name}}</span>
  <span class="device_tag_separator hidden">-</span>
  <span class="device_tag_value hidden">{{vm.data.value}}</span>
  <span class="device_tag_dot flex text-xs text-cyan-700 ml-2 items-center">
    <i class="ph-circle-fill flex items-center"></i>
  </span>
</div>
