@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
[class^="edvl-"] {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  border: 1px solid tomato;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.debug {
  &, * {
    @apply border border-solid border-red-400;
  }
}

/* .dashboard_item {
  width: 90%; 
  max-width: 1180px;
  min-height: 600px;
} */

