<div class="chart_config_types flex py-0.5">
  <div
    class="
      chart_config_type
      inline-flex
      w-7
      h-7
      rounded-full
      items-center
      justify-center
      mr-2
      cursor-pointer
      hover:ring-4
      ring-slate-600
      ring-opacity-30
    "
    ng-class="[{'bg-slate-700': chartType.id == configService.selectedChartType}, {'bg-slate-400': chartType.id != configService.selectedChartType}]"
    ng-repeat="chartType in configService.chartsData track by chartType.id"
    ng-click="configService.selectChartType(chartType.id)"
  >
    <i ng-class="['ph-' + chartType.icon + '-bold', 'text-white', 'flex']"></i>
  </div>
</div>
