<div class="chart_config_blocks overflow-auto">
  <h2 class="font-bold mt-4">
    {{configService.getChartDataById(configService.getSelectedChartType()).name}}
  </h2>
  <div
    class="chart_config_block mt-2"
    ng-repeat="attribute in vm.getAttributes() track by $index"
  >
  
    <h3
      class="chart_config_block_heading flex items-center mb-1"
      ng-class="[attribute.id]"
    >
      <span class="icon flex items-center mr-1 text-slate-400">
        <i class="ph-hash-bold flex"></i>
      </span>
      <span class="label flex items-center">{{attribute.name}}</span>
    </h3>
    <div
      class="chart_config_block_content border border-solid border-slate-300 bg-slate-50 rounded min-h-[80px]"
    >
      <div dragula="'a'" class="h-full dragula_chartBlocks p-2" dragula-scope="vm.$rootScope" dragula-model="attribute.content">
        <device-tag
          ng-repeat="attr in attribute.content track by $index"
          data="attr"
          ng-attr-id="{{vm.$rootScope.utils.createUniqueDOMAttribute(attr)}}"
        ></device-tag>
      </div>
    </div>
  </div>
</div>
