<div class="sensor_sidebar col-span-3 bg-slate-200 border-r-2 border-solid border-slate-300 h-full">
  <side-heading title="'Devices'" icon="'ph-robot'"></side-heading>
  <div class="side_body p-2">
    <!-- device type -->
    <div
      class="accordion_type"
      ng-repeat="deviceType in vm.$scope.devices track by device.name"
    >
      <accordion accordion-data="deviceType" index="$index">
        <accordion-handler>{{deviceType.name}}</accordion-handler>
        <accordion-body>
          <!-- device item -->
          <div
            class="accordion_device"
            ng-repeat="device in deviceType.content track by device.id"
          >
            <accordion accordion-data="device" index="$index">
              <accordion-handler>{{device.id}}</accordion-handler>
              <accordion-body>
                <device-tag ng-repeat="attr in device.attributes" data="attr"></device-tag>
              </accordion-body>
            </accordion>
          </div>
          <!-- / device item -->
        </accordion-body>
      </accordion>
    </div>
    <!-- / device type -->
  </div>
</div>
