<div
  class="sensor_sidebar col-span-3 bg-slate-200 border-r-2 border-solid border-slate-300 overflow-hidden relative
  flex-col"
>
  <side-heading title="'Devices'" icon="'ph-robot'"></side-heading>
  <div class="side_body p-2 basis-full">
    <!-- device type -->
    <div
      class="accordion_type"
      ng-repeat="deviceType in devices track by $index"
    >
      <accordion accordion-data="deviceType" index="$index">
        <accordion-handler>{{deviceType.name}}</accordion-handler>
        <accordion-body>
          <!-- device item -->
          <div
            class="accordion_device relative"
            ng-repeat="device in deviceType.content track by device.id"
          >
            <accordion accordion-data="device" index="$index">
              <accordion-handler>{{device.id}}</accordion-handler>
              <accordion-body>
                <div dragula="'a'" dragula-model="device.attributes" dragula-scope="vm.$rootScope">
                  <device-tag
                    ng-repeat="attr in device.attributes"
                    data="attr"
                  ></device-tag>
                </div>
              </accordion-body>
            </accordion>
          </div>
          <!-- / device item -->
        </accordion-body>
      </accordion>
    </div>
    <!-- / device type -->
  </div>
</div>
