<div>
  <div class="focas">
    <div
      class="
        heroes
        mb-1
        inline-flex
        items-center
        justify-center
        px-2
        py-1
        text-xs
        font-bold
        leading-none
        text-red-100
        bg-red-600
        rounded-full
      "
    >
      {{vm.getFocas().length}}
    </div>
    <div
      class="foca p-1 mb-1 border-solid border-slate-300 border"
      ng-class="[{'font-bold': foca[0] == 'c'}]"
      ng-repeat="foca in vm.getFocas() track by $index"
    >
      <div class="foca_holder flex items-center">
        <span class="icon flex mr-2"><i class="ph-cube-thin flex"></i></span>
        <span class="label">{{foca}}</span>
        <span class="icon-close flex ml-auto" ng-click="vm.deleteFoca($index)"><i class="ph-x flex"></i></span>
      </div>
    </div>
    <form ng-submit="vm.processForm($event)">
      <input
        type="text"
        name="foca"
        class="
          p-2
          mt-2
          rounded-md
          border-2 border-solid border-slate-500
          outline-none
          focus:ring-4
          ring-slate-700 ring-opacity-25
        "
      />
    </form>
  </div>
</div>
